.clients {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
	row-gap: calc(22 / 16 * 1rem);
}

.clients__fallback {
	padding: calc(20 / 16 * 1rem);
	height: calc(690 / 16 * 1rem);
}
@media (max-width: calc(767.98 / 16 * 1rem)) {
	.clients__fallback {
		height: calc(500 / 16 * 1rem);
	}
}

.clients__error {
	width: 100%;
	background-color: var(--bg-color);
	max-width: calc(100% - (12 / 16 * 1rem));
	padding: calc(12 / 16 * 1rem);
}
