.error-connection {
	width: 100%;
	height: 100%;
	margin-top: calc(160 / 16 * 1rem);
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.error-connection__inner {
	margin-bottom: calc(120 / 16 * 1rem);
}
