.error-connection {
	width: 100%;
	display: flex;
}
.error-connection__inner {
	display: inline-flex;
	flex-direction: column;
	border: calc(2 / 16 * 1rem) solid red;
	background-color: rgba(255, 0, 0, 0.1);
	padding: calc(12 / 16 * 1rem);
}
.error-connection__inner h2 {
	color: red;
}
