html.lock {
	overflow: hidden;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100%;

	--font-min: 16;
	--font-max: 18;

	--maxSize: calc(var(--font-max) / 16);
	--minSize: calc(var(--font-min) / 16);
	--maxWidth: calc(var(--viewport-max) / 16);
	--minWidth: calc(var(--viewport-min) / 16);

	--slope: calc((var(--maxSize) - var(--minSize)) / (var(--maxWidth) - var(--minWidth)));
	--yAxisIntercept: calc(-1 * var(--minWidth) * var(--slope) + var(--minSize));

	font-size: clamp(
		calc(var(--minSize) * 1rem),
		calc(var(--yAxisIntercept) * 1rem + var(--slope) * 100vw),
		calc(var(--maxSize) * 1rem)
	);
	line-height: 1.5;
	font-weight: 500;
}

h1 {
	--font-min: 32;
	--font-max: 36;

	--maxSize: calc(var(--font-max) / 16);
	--minSize: calc(var(--font-min) / 16);
	--maxWidth: calc(var(--viewport-max) / 16);
	--minWidth: calc(var(--viewport-min) / 16);

	--slope: calc((var(--maxSize) - var(--minSize)) / (var(--maxWidth) - var(--minWidth)));
	--yAxisIntercept: calc(-1 * var(--minWidth) * var(--slope) + var(--minSize));

	font-size: clamp(
		calc(var(--minSize) * 1rem),
		calc(var(--yAxisIntercept) * 1rem + var(--slope) * 100vw),
		calc(var(--maxSize) * 1rem)
	);
	line-height: 1.2;
	font-weight: 700;
}

h2 {
	--font-min: 25.3984;
	--font-max: 28.5732;

	--maxSize: calc(var(--font-max) / 16);
	--minSize: calc(var(--font-min) / 16);
	--maxWidth: calc(var(--viewport-max) / 16);
	--minWidth: calc(var(--viewport-min) / 16);

	--slope: calc((var(--maxSize) - var(--minSize)) / (var(--maxWidth) - var(--minWidth)));
	--yAxisIntercept: calc(-1 * var(--minWidth) * var(--slope) + var(--minSize));

	font-size: clamp(
		calc(var(--minSize) * 1rem),
		calc(var(--yAxisIntercept) * 1rem + var(--slope) * 100vw),
		calc(var(--maxSize) * 1rem)
	);
	line-height: 1.3;
	font-weight: 700;
}

h3 {
	--font-min: 20.1587;
	--font-max: 22.6786;

	--maxSize: calc(var(--font-max) / 16);
	--minSize: calc(var(--font-min) / 16);
	--maxWidth: calc(var(--viewport-max) / 16);
	--minWidth: calc(var(--viewport-min) / 16);

	--slope: calc((var(--maxSize) - var(--minSize)) / (var(--maxWidth) - var(--minWidth)));
	--yAxisIntercept: calc(-1 * var(--minWidth) * var(--slope) + var(--minSize));

	font-size: clamp(
		calc(var(--minSize) * 1rem),
		calc(var(--yAxisIntercept) * 1rem + var(--slope) * 100vw),
		calc(var(--maxSize) * 1rem)
	);
	line-height: 1.4;
	font-weight: 700;
}

small {
	font-size: calc(14.2866 / 16 * 1rem);
	line-height: 1.6;
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}
