:root {
	--viewport-min: 390;
	--viewport-max: 1920;

	--primary-color: #193cb8;
	--text-color: black;
	--bg-color: white;
	--gray-color: #ededed;
	--dark-gray-color: #cbcbcb;

	--container-width: calc(1280 / 16 * 1rem);
	--container-padding-x: calc(12 / 16 * 1rem);
	--transition-duration: 0.2s;

	--laptop: 1440.98;
	--tablet: 1023.98;
	--mobile: 767.98;
	--mobile-s: 480.98;
}
