.text__element {
	display: flex;
	flex-direction: column;
	row-gap: calc(24 / 16 * 1rem);
}

.text__element:not(:last-of-type) {
	padding-bottom: calc(12 / 16 * 1rem);
	border-bottom: calc(1 / 16 * 1rem) solid var(--text-color);
}

.text__heading {
	margin-bottom: calc(4 / 16 * 1rem);
}

.text__element-link {
	color: var(--primary-color);
	text-decoration: underline !important;
}

.text__link {
	color: var(--text-color);
}
@media (any-hover: hover) {
	.text__link:hover {
		text-decoration: underline;
	}
}

.text__heading--big {
	margin-bottom: calc(40 / 16 * 1rem);
}
